@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  font-family: "Plus Jakarta Sans";
  margin: 0;
  padding: 0;
}

/* variables */
:root {
  --primary-color: #4f46e5;
  --subtitle-text-color: #475569;
  --primary-bg-color: #f8fafc;
}

/* Utility classes */
.container {
  width: 1440px;
  margin: 0 auto 0 auto;
}

.pill {
  background: #eef2ff;
  padding: 6px 12px 6px 12px;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  border-radius: 1234px;
}

.btn {
  padding: 12px 20px 12px 20px;
  background-color: transparent;
  border-radius: 1234px;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

.btn-sign-up {
  border: 2px solid #cbd5e1;
}

.header-width {
  width: 800px;
}

.header-subtitle {
  font-size: 18px;
  font-weight: 400;
  color: var(--subtitle-text-color);
}

.center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-title {
  font-size: 36px;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: -1.4%;
  margin: 24px 0 24px 0;
}

/* Reset CSS */
button {
  border: none;
}

/* Navbar CSS */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 16px 0;
}

nav img {
  width: 110px;
}

nav ul {
  display: flex;
  gap: 32px;
}

nav ul li {
  list-style: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

nav div {
  display: flex;
  gap: 8px;
}

/* Banner Section */
#banner {
  margin-top: 96px;
  background: #ffffff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 30%,
    rgba(231, 241, 255, 1) 50%,
    rgba(159, 167, 250, 1) 100%
  );
}

#banner h1 {
  font-size: 60px;
  font-weight: 800;
  line-height: 68px;
  margin: 24px 0 24px 0;
}

#banner p {
  margin-bottom: 48px;
}

#download-from img {
  width: 132px;
  height: 44px;
}

#banner-img {
  width: 1010px;
  height: 600px;
  margin-top: 64px;
}

/* Companies Section */
#companies {
  background: var(--primary-bg-color);
  padding: 64px 0 64px 0;
}

#logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 32px;
  column-gap: 60px;
  margin: 0 auto 0 auto;
  width: 1216px;
}

/* Primary Features Section */
#features {
  padding: 96px 0 96px 0;
}

.feature {
  width: 384px;
}

.feature h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  padding: 16px 0;
}

#features-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 64px;
  gap: 32px;
}

.feature p {
  color: var(--subtitle-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

/* Achievements */
#achievements {
  background-color: var(--primary-bg-color);
  padding: 96px 0 96px 0;
}

#achievements img {
  padding: 14px;
  background-color: #eef2ff;
  border-radius: 100%;
}

#achievements-container {
  width: 800px;
  margin-top: 64px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#achievements-container div {
  padding: 0 32px 0 32px;
}

#achievements-container div:nth-child(2) {
  border-left: 1px solid #cbd5e1;
  border-right: 1px solid #cbd5e1;
}

#achievements-container h3 {
  color: var(--primary-color);
  font-weight: 700;
  line-height: 68px;
  font-size: 60px;
  letter-spacing: -1.8%;
}

#achievements-container p {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.8%;
  color: var(--subtitle-text-color);
}

/* For Whom Section */
#for-whom {
  padding: 96px 0;
  width: 1216px;
}

#for-whom .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#for-whom .card {
  display: flex;
  gap: 24px;
  margin-bottom: 8px;
  width: 468px;
}

#for-whom .card .vertical-line {
  background-color: #e0e7ff;
  border-radius: 1000px;
  width: 6px;
}

#for-whom .card:first-child .vertical-line {
  background-color: var(--primary-color);
}

#for-whom .card div:nth-child(2) {
  padding: 24px 0;
}

#for-whom .card h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: var(--subtitle-text-color);
  margin-bottom: 12px;
}

#for-whom .card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--subtitle-text-color);
}

#for-whom .content img {
  height: 592px;
  width: 592px;
}

/* Testimonials */
#testimonials {
  padding: 96px 0;
  background-color: var(--primary-bg-color);
}

#testimonials-container {
  margin-top: 64px;
  text-align: left;
  column-count: 3;
  column-gap: 32px;
  width: 1216px;
}

.testimonial {
  padding: 24px;
  border: 1px solid #e2e8f0;
  border-radius: 24px;
  margin-bottom: 32px;
}

.testimonial > img {
  width: 152px;
  margin-bottom: 24px;
}

.testimonial > p {
  font-weight: 400;
  font-size: 14px;
  color: var(--subtitle-text-color);
  line-height: 160%;
  margin-bottom: 24px;
}

.testimonial .person {
  display: flex;
  gap: 12px;
}

.testimonial .person img {
  width: 48px;
  height: 48px;
}

.testimonial .person h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.testimonial .person p {
  font-weight: 400;
  size: 16px;
  line-height: 160%;
  color: var(--subtitle-text-color);
}
