/* Locations */
#locations {
  padding: 64px 0;
}

#locations-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  margin-top: 64px;
}

.location {
  border: 1px solid var(--border-color);
  border-radius: 24px;
  padding: 24px;
}

.location img {
  height: 24px;
  width: 24px;
}

.location h5 {
  font-weight: 800;
  font-size: 20px;
  margin: 24px 0 8px 0;
  size: 20px;
  line-height: 28px;
  color: var(--secondary-text-color);
}

.location p {
  font-weight: 400;
  color: var(--secondary-text-color);
  font-size: 16px;
}

@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  #locations-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    margin-top: 64px;
  }
}
