/* Navbar CSS */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 16px 0;
}

.btn-sign-up {
  border: 2px solid #cbd5e1;
}

nav img {
  width: 110px;
}

nav ul {
  display: flex;
  gap: 32px;
}

nav ul li {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

nav div {
  display: flex;
  gap: 8px;
}

#menu-btn {
  display: none;
  visibility: hidden;
}

@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  nav ul {
    display: none;
    visibility: hidden;
  }

  #auth-btn {
    display: none;
    visibility: hidden;
  }

  #menu-btn {
    display: block;
    visibility: visible;
    height: 24px;
    width: 24px;
  }
}
